@import "../Variables";

.hi-banner {
  background-image:
    linear-gradient(
        rgba($main-color, 0.9),
        rgba($main-color, 0.5)
    ),
    url("../img/flatirons2.jpg");

  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  align-items: center; // vertically center
  display: flex;
  height: 95vh;

  .hi-banner-content {
    color: white;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;

    @extend %unselectable;

    .description {
      font-weight: lighter;
      font-size: 0.7em;
      font-style: italic;
      margin-top: 20px;
    }

    .introduction {
      margin: 0;
    }
  }
}
