$main-color: #ffc300;
$dark-gray: #4d4d4d;

// Google Color Palette
$google-red: #ea4335;
$google-green: #34a853;
$google-blue: #4285f4;
$google-yellow: #fbbc05;
$google-white: #f2f2f2;

%unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
