@import "./Home.scss";
@import "./NavBar.scss";
@import "./NotDone.scss";
@import "./Variables.scss";

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  overflow: auto;
}
