@import './Variables.scss';

// Pages
@import './Home.scss';

// Components
@import './components/Contact.scss';
@import './components/HiBanner.scss';
@import './components/NavBar.scss';
@import './components/NotDone.scss';

html {
  box-sizing: border-box;
  font-size: 17px;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow: auto;
}
